<!-- problems-show.handlebars -->
<div class = "my-container">
<a class="btn btn-primary" href="/feed/new"> Add Problem </a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <h1>{{problem.title}}</h1>
      <img src="{{problem.imagePath}}">
      <h2>{{problem.description}}</h2>
      <p><a href="/feed/{{problem._id}}/edit">Edit</a></p>
    <p>
        <form method="POST" action="/feed/{{problem._id}}?_method=DELETE">
            <button class="btn btn-primary" type="submit">Delete</button>
        </form>
    </p>
  </div>
</div>
</div>
